[Service]
WorkingDirectory=/home/deploy/movierec/current
ExecStart=/usr/local/bin/buildpack-nodejs-run node -r babel-register index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=movierec
User=node
Group=node
Environment=BABEL_CACHE_PATH=/tmp/movierec.babel-register

[Install]
WantedBy=multi-user.target
