doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Movie Recommendation
    link(rel="stylesheet" href=`/${asset('main.css')}`)

  body
    block header
      header
        if username
          span= username
          |&nbsp;
          a(href="/logout") logout
        else
          a(href="/login") login

    block body

    script(src=`/${asset('main.js')}`)
    block script
