doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Movie Recommendation
    link(rel="stylesheet" href=`/${asset('main.css')}`)

  body
    block header
      header
        a(href="/") Home
        |&nbsp;
        a(href="/movie") Movies
        |&nbsp;
        if username
          a(href="/user") Users
          |&nbsp;
          span= username
          |&nbsp;
          a(href="/logout") Logout
        else
          a(href="/login") Login

    block body

    script(src=`/${asset('main.js')}`)
    block script
