extends layout

block body
  h1 Movies

  each movie in movies
    article.movie-holder
      img(src=`${TMDB_IMG_BASE}/w640/${movie.poster_path}`)
      h4= movie.title
      p= movie.overview
      if username
        .rating
          span(data-movieid= movie.id data-rating= 5) ☆
          span(data-movieid= movie.id data-rating= 4) ☆
          span(data-movieid= movie.id data-rating= 3) ☆
          span(data-movieid= movie.id data-rating= 2) ☆
          span(data-movieid= movie.id data-rating= 1) ☆



