extends layout

block body
  .container
    .row
      h1 Users

    ul.list-group
      each similarity in usersSimilarities
        li.list-group-item
          table.table.table-striped
            thead
              tr: th: a(href= `/user/${similarity.user.username}`)= similarity.user.username
                th Similarity
            tbody
              tr
                td: b Euclidean distance
                td= similarity.euclideanDistance.toFixed(2)
              tr
                td: b Manhattan distance
                td= similarity.manhattanDistance.toFixed(2)
              tr
                td: b PCC
                td= similarity.pcc.toFixed(2)
